# dependencies
node_modules/

# next.js
.next/
out/

# build output
dist/

# env
.env
.env.local
.env.*.local
token.md

# python
__pycache__/
*.py[cod]
.pytest_cache/
*.egg-info/
.venv/

# logs & debug
npm-debug.log*
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
